body {
    font-family: Arial, Helvetica, sans-serif;
}

.cm_container {
    position: relative;
    width: 1024px;
    height: 600px;
    margin: auto;
}

.interface_back {
    position: absolute;
}

.note_add_button_img {
    position: absolute;
    border: 0px;
}

.ts_button_img {
    position: absolute;
    border: 0px;
}

img.pixel_med_button {
    position: absolute;
    border: 0px;
    width: 60px;
    height: 70px;
}

img.pixel_custom_button {
    position: absolute;
    border: 0px;
}

.note_container {
    position: absolute;
    border: 0px;
}

input.song_button {
    width: 80px;
    height: 40px;
    font-size: 20px;
}

input.song_button_large {
    width: 350px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
}

img.note_on_staff {
    position: absolute;
    border: 0px;
}

/* JS Windows Styles */
.JSWindow {
    position: absolute;
    overflow: hidden;
    border-left: 2px solid #F0F0F0;
    border-top: 2px solid #F0F0F0;
    border-right: 2px solid #D0D0D0;
    border-bottom: 2px solid #D0D0D0;
    background-color: #FFFFFF;
    margin: 0px;
    opacity: 0.95;
    khtml-opacity: 0.95;
    KHTMLOpacity: 0.95;
    filter: alpha(opacity=95);
    MozOpacity: 0.95;
    moz-opacity: 0.95;
}

.JSTitle {
    overflow: hidden;
    font-size: 20px;
    background-color: #7FFFD4;
    opacity: 0.95;
    khtml-opacity: 0.95;
    KHTMLOpacity: 0.95;
    filter: alpha(opacity=95);
    MozOpacity: 0.95;
    moz-opacity: 0.95;
    margin: 0px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.JSBody {
    overflow: hidden;
    position: absolute;
    background-color: #FFFFFF;
    margin: 0px;
}

.JSCloseX {
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #000000;
}

.JSSubWin {
    border: 1px solid #000000;
    overflow: auto;
}

.JSTooltip {
    opacity: 0.95;
    khtml-opacity: 0.95;
    KHTMLOpacity: 0.95;
    filter: alpha(opacity=95);
    MozOpacity: 0.95;
    moz-opacity: 0.95;
}

.JSTipTitle {
    padding: 4px;
    background-color: #7FFFD4;
    opacity: 0.95;
    khtml-opacity: 0.95;
    KHTMLOpacity: 0.95;
    filter: alpha(opacity=95);
    MozOpacity: 0.95;
    moz-opacity: 0.95;
}

.JSTipBody {
    padding: 4px;
    background-color: #7FFFD4;
    opacity: 0.95;
    khtml-opacity: 0.95;
    KHTMLOpacity: 0.95;
    filter: alpha(opacity=95);
    MozOpacity: 0.95;
    moz-opacity: 0.95;
}

.JSCenterDiv {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.JSDialogBackground {
    background-color: #000000;
    opacity: 0.25;
    khtml-opacity: 0.25;
    KHTMLOpacity: 0.25;
    filter: alpha(opacity=95);
    MozOpacity: 0.25;
    moz-opacity: 0.25;
}

input {
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, sans-serif;
}
